<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Šifrovanie správ</title>
    <!-- Google Fonts: Orbitron -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap">
    <!-- Prepojenie na externý CSS súbor -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="app-name">
        <span>K</span>
        <span>R</span>
        <span>Y</span>
        <span>P</span>
        <span>T</span>
        <span>O</span>
        <span>S</span>
        <span>F</span>
        <span>É</span>
        <span>R</span>
        <span>A</span>
    </h1>
    <div class="container">
        <div class="form-container">
            <div class="input-group">
                <input type="text" id="tajnyKluc" placeholder=" " required>
                <label>Tajný kľúč</label>
            </div>
            <div class="input-group">
                <input type="text" id="nastavenie" placeholder=" " required>
                <label>Nastavenie</label>
            </div>
            <div class="input-group">
                <select id="typSifry" required>
                    <option value="" disabled selected></option>
                    <option value="caesar">Caesar Cipher</option>
                    <option value="monoalphabetic">Monoalphabetic Cipher</option>
                    <option value="playfair">Playfair Cipher</option>
                    <option value="homophonic">Homophonic Cipher</option>
                    <option value="polyalphabetic">Polyalphabetic Cipher</option>
                    <option value="transposition">Transposition Cipher</option>
                    <option value="adfgvx">ADFGVX Cipher</option>
                </select>
                <label>Typ šifry</label>
            </div>
            <div class="input-group">
                <textarea id="message" rows="4" placeholder=" " required></textarea>
                <label>Správa</label>
            </div>
            <div class="input-group">
                <select id="mode" required>
                    <option value="encrypt">Šifrovať</option>
                    <option value="decrypt">Dešifrovať</option>
                </select>
            </div>
            <button onclick="handleRequest()">Potvrdiť</button>
        </div>

        <div class="result-container">
            <!-- Nadpis výsledku -->
            <h2>Výsledok</h2>
            <div id="result-box"></div>
        </div>
    </div>

    <!-- Prepojenie na externý JavaScript súbor -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
